@{
    ViewBag.Title = "Car insurance company";
}

<div class="jumbotron">
    <h1>Car Insurance 4 You</h1>
    <p class="lead">Get your car insured today</p>
    <p><a href="~/Insuree" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

